{% extends 'base.html.twig' %}

{% block title %}Evènements{% endblock %}

{% block body %}
    <h1>Evènements</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de l'évènement</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.nameEvent }}</td>
                <td>{{ event.dateEvent ? event.dateEvent|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.description }}</td>
                <td>
                    <a href="{{ path('event_show', {'id': event.id}) }}">voir</a>
                    <a href="{{ path('event_edit', {'id': event.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('event_new') }}">Créer</a>
{% endblock %}
