{% extends 'base.html.twig' %}

{% block title %}Evènements{% endblock %}

{% block body %}
    <h1>Evènements</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Date de l'évènement</th>
            <th>Description</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.nameEvent }}</td>
                <td>{{ event.dateEvent ? event.dateEvent|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.description }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('category_company_show', {'id': category_company.id}) }}"
                       role="button">voir</a>
                    <a class="btn btn-primary" href="{{ path('category_company_edit', {'id': category_company.id}) }}"
                       role="button">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('event_new') }}" role="button">Créer</a>
{% endblock %}
