{% extends 'base.html.twig' %}

{% block title %}Catégorie de Service{% endblock %}

{% block body %}
    <h1>Catégorie de Service</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category_service in category_services %}
            <tr>
                <td>{{ category_service.id }}</td>
                <td>{{ category_service.name }}</td>
                <td>
                    <a href="{{ path('category_service_show', {'id': category_service.id}) }}">show</a>
                    <a href="{{ path('category_service_edit', {'id': category_service.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_service_new') }}">Nouvelle Catégory</a>
{% endblock %}
