{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}
{% block body %}
    <h1>Services </h1>

    <table class="table">
        <thead>
            <tr><th>Titre</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.title }}</td>
                <td>{{ service.description }}</td>
                <td>
                    <a href="{{ path('service_show', {'id': service.id}) }}">voir</a>
                    <a href="{{ path('service_edit', {'id': service.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('service_new') }}">Créer</a>
{% endblock %}
