{% extends 'base.html.twig' %}

{% block title %}Entreprise{% endblock %}
{% block header %}
    {% include 'navbar.html.twig' %}
{% endblock %}
{% block body %}
    <div class="container">

    <a class="btn btn-primary" href="{{ path('company_index') }}" role="button">Retour à la liste</a>

    <h1 class="mt-5">Entreprise</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>CompanyName</th>
            <td>{{ company.companyName }}</td>
        </tr>
        <tr>
            <th>ManagerName</th>
            <td>{{ company.managerName }}</td>
        </tr>
        <tr>
            <th>Categorie </th>
            <td>{{ company.categoryCompany.name }}</td>
        </tr>
        <tr>
            <th>Mail</th>
            <td>{{ company.mail }}</td>
        </tr>
        <tr>
            <th>Comment</th>
            <td>{{ company.comment }}</td>
        </tr>
        </tbody>
    </table>
    </div>
{% endblock %}
