<nav id="navbar" class="adminav navbar navbar-expand-lg navbar-dark bg-danger">
    <a class="navbar-brand" href="{{ path('home') }}"><img class="logo" src="{{ asset('assets/images/logo2.png') }}" alt="LAB'O"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarColor01">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="adm nav-link" href="{{ path('category_company_admin_index') }}">Catégories entreprises</a>
            </li>
            <li class="nav-item">
                <a class="adm nav-link" href="{{ path('company_admin_index') }}">Entreprises</a>
            </li>
            <li class="nav-item">
                <a class="adm nav-link" href="{{ path('category_service_admin_index') }}">Catégories services</a>
            </li>
            <li class="nav-item">
                <a class="adm nav-link" href="{{ path('service_admin_index') }}">Services</a>
            </li>
            <li class="nav-item">
                <a class="adm nav-link" href="{{ path('event_admin_index') }}">Evènements</a>
            </li>
        </ul>
    </div>
</nav>