{% extends 'base.html.twig' %}

{% block title %}CategoryCompany index{% endblock %}

{% block body %}
    <h1>CategoryCompany index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category_company in category_companies %}
            <tr>
                <td>{{ category_company.id }}</td>
                <td>{{ category_company.name }}</td>
                <td>
                    <a href="{{ path('category_company_show', {'id': category_company.id}) }}">show</a>
                    <a href="{{ path('category_company_edit', {'id': category_company.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_company_new') }}">Create new</a>
{% endblock %}
